#navbar{			/*navbar<->header*/
	width: 100%;
	height: 14vh;
	position: fixed;
	top: 0px;
	overflow: hidden;
}
.brand{
	display:none;
	float: left;
	height: 100%;
}
@font-face { 
	font-family: nav-font; 
	src: url('font/nav-font.ttf'); 
} 
.brand img{
	position: relative;
	padding-top: 10%;
	height: 80%;
}
.nav_menu{
	margin: 0 auto;
	display: block;
	float: right;
	height: 100%;
}
.nav_link{
	display: block;
	float: left;
	height: 100%;
	width: 20vh;
	overflow: hidden;
	text-align: center;
}
.nav_a{
	display: block;
	margin-top: 25%;
	text-decoration: none;
	color: #818A91;
	font-family: nav-font;
}
li a:hover{
	color: rgba(255,255,255,0.9);
}