#pg_1_title {
  width: 100%;
  height: 60vh;
  padding-top: 22vh;
  text-align: center;
  color: rgba(255,255,255,0.85);
  }
  .pg_1_ch {
    width: 100%;
    font-family: Microsoft YaHei;
    font-weight: lighter;
    letter-spacing: 6px;
    font-size: 20vh;
    }
  .pg_1_eng {
    width: 100%;
    font-size: 4vh;
    font-family: Helvetica;
    }

#pg_1_ani {
  cursor: pointer;
  position: relative;
  width: 10%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-right: 45%;
  margin-left: 45%;
  height: 10vh;
  }
  #pg_1_ani img {
    width: 50%;
    animation: arrow 1s infinite;
    padding-left: 25%;
    padding-right: 25%;
    }

@keyframes arrow {
  from {
    padding-top: 10%;
    opacity: 0;
    }
  to {
    padding-top: 20%;
    opacity: 1;
    }
}